  $dark-blue: #222222;
  $pink: #F1E4E6;
  $dark-pink: #F16D7F;
  $bittersweet: #FF6A6A;
  $brown: #473F3D;
  $black: #000;
  $snow-white: #FBFBFB;
  $ghostly-white: #F8F8F8;
  $gainsborough: #E1E1E1;
  $white: #FFF;
  $grayish-green: #5D5D5D;
  $pearl-blackberry: #6F6E6E;
  $platinum: #E8E8E8;